
@{
    ViewBag.Title = "Index";
}

<br/>
<div id="mapa" style="height: 800px; width: 100%"></div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSRC7DZbzV5l-Wqdyu_Yy4ru60QPTvCMY&callback=initMap" async defer></script>
    <script src="~/Scripts/mapa.js"></script>
}